<%= form_for @photo do |f|%>

  <div class="form-control">
    <%= f.label      :description  %> <br>
    <%= f.text_field :description  %>
  </div>
  <br>

  <%= f.submit 'Сохранить' %>
  <br>


<% end %>