<% @photos.each do |photo| %>

  <div class="container">
    <p>id:<%= photo.id %> - <%= photo.description %></p>
    <small>
      <% if photo.user == current_user %> <!--если фото принадл пользователю -->
        <%= link_to 'Редактировать', edit_photo_path(photo) %>
        <%= link_to 'Удалить',photo_path(photo), method: :delete %>
      <% end %>
    </small>
  </div>
  <hr>



<% end %>

